body {
  background-color:#b0c4de;
  background-image: url(static/stars.jpg);
  color:#fff;
}

body *{
  font-family:arial;
}

h1,h2,h3,h4,h5{
  font-weight:normal;
  margin:0;
}

a,a:hover,a:visited{
    color:#fff;
    text-decoration:none;
}
.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
