{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
  <title>
   {% block titel %}

   {%endblock%}
  </title>
<link rel="stylesheet" href="{%static 'styles.css' %}"></head>
<body>
  <h2> <a href="{% url 'a31:a3' %}">LOGO</a> </h2>
  <nav>
    <ul>
      <li>
        <form class="logout_like" action="{% url 'accounts:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" name="">logout</button>

        </form>
      </li>
    </ul>
  </nav>
   {% block cont %}

   {% endblock %}
</body>
 </html>
