<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
<h1>home</h1>
<p>welcome too my bloge</p>
    <header>
        <nav>
            <div class="logo">
              <a href="#">portfolio.</a>
            </div>
            <ul>
                <li> <a href="{% url 'accounts:login' %}" class="active">Home</a> </li>
                <li> <a href="#" class = "active">about</a></li>
                <li> <a href="accounts#homee.html">accounts</a></li>
                <li> <a href="#">portfolio</a></li>
                <li> <a href="#">contact</a></li>
            </ul>
            <div class="button">
                <button> <a href="#"></a>Sign Up</button>
                <!-- <button>Log In</button> -->
                <button><a href="#"></a>LOG IN</button>
            </div>
        </nav>
    </header>
  </body>
  <style>
        @import url('djangoBlog\media\2.jpg')
</html>
